.submit-button {
    width: 200px;
}

table {
    width: 100%;
}

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 50px;

    /*text-align: left;*/
}

tbody {
    height: 350px;
    overflow-y: auto;
}

thead {
    /* fallback */
}

tbody td:first-child,
thead th:first-child {
    width: 14%;
    float: left;
}

tbody td:last-child,
thead th:last-child {
    width: 22%;
    float: left;
    text-align: right;
}

tbody td, thead th {
    width: 32%;
    float: left;
}

