#optionalFieldsView tbody {
    column-count:2;
    -moz-column-count:2;
    -webkit-column-count: 2;
}

#climateFieldsView tbody {
    column-count:2;
    -moz-column-count:2;
    -webkit-column-count: 2;
}

#defaultFieldsView tbody {
    column-count:3;
    -moz-column-count:3;
    -webkit-column-count: 3;
}

#optionalFieldsView tbody, #optionalFieldsView tr, #optionalFieldsView td,
#climateFieldsView tbody, #climateFieldsView tr, #climateFieldsView td,
#defaultFieldsView tbody, #defaultFieldsView tr, #defaultFieldsView td {
    display:block;
    width:100%;
}

.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td{
    padding: 1px;
}

a.outputfield{
    color: #666;
    text-decoration: none;
}
