<h2>Phenophases</h2>
<p>Restrict your dataset to particular phenophases.</p>
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading" ><strong>Plant</strong></div>
                <table class="table table-striped table-hover table-responsive header-fixed">
                    <tr *ngFor="let plantPhenophase of phenophases | category:'plant'">
                        <td><input type="checkbox" name="plant" value="{{plantPhenophase.phenophase_category}}" [(ngModel)]="plantPhenophase.selected" (change)="togglePhenophase(plantPhenophase)"></td>
                        <td>{{plantPhenophase.phenophase_category}}</td>
                    </tr>
                </table>
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Animal</strong></div>
                <table class="table table-striped table-hover table-responsive header-fixed">
                    <tr *ngFor="let plantPhenophase of phenophases | category:'animal'">
                        <td><input type="checkbox" name="plant" value="{{plantPhenophase.phenophase_category}}" [(ngModel)]="plantPhenophase.selected" (change)="togglePhenophase(plantPhenophase)"></td>
                        <td>{{plantPhenophase.phenophase_category}}</td>
                    </tr>
                </table>
            <div class="panel-body">
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-default" (click)="submitPhenophases()">Set Phenophases</button>
<button type="button" class="btn btn-default" (click)="onSelect('PartnerGroups')">Next</button>