.input-group-btn button {
    width: 30px;
    height: 30px;
    margin: 0px 0px 0px 0px;
}

input {
    height: 30px;
    margin: 0px 0px 0px 0px;
}

.btn-group-xs button {
    width: 50px;
    height: 30px;
}

.panel-body-sm{
    padding: 5px 5px 5px 5px;
}

.container {
    width: 850px;
}

.badge {
    float: right;
}

.glyphicon-remove {
    color: red;
}

.panel-heading-sm{
    height: 28px;
    padding: 4px 10px;
}

.list-group-item {
height: 32px;
padding: 6px 10px 2px 10px;
}

.panel-body > .list-group {
    margin-bottom:2px;
}

.btn-long {
    width: 200px;
}

.well {
    padding: 5px 5px 5px 5px;
}

#your-download-header{
	color: white;
	background-color:rgb(68,158,68);
}