<h2>Partner Groups</h2>
<p>Limit your dataset to data collected by a particular Partner Group, either at the parent group or subgroup level.</p>

<div class="panel panel-default">
    <div class="panel-heading"><strong>Filters</strong></div>
    <div class="panel-body">
        <div class="input-group">
            <span class="input-group-addon">Group Name:</span>
            <input #filterText type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" (keyup)="setAllCollapsed(filterText.value)" name="nameFilter" [(ngModel)]="nameFilter"> <!-- (keyup)="setAllCollapsed(filterText.value)" -->
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body" style="padding:2px 2px 2px 2px;height:330px;overflow-y: scroll">
            <div class="panel-group" id="accordion">
                <!-- top level -->
                <div *ngFor="let partnerGroup of partnerGroups | search:nameFilter" [ngClass]="getPanelClasses(partnerGroup)">
                    <div [ngClass]="['panel-heading', 'panel-heading-sm']">
                        <div class="checkbox">
                            <label class="primary">
                                <input type="checkbox" name="partnerGroup" [(ngModel)]="partnerGroup.selected" (change)="toggleGroup(partnerGroup)">
                                <a *ngIf="checkForSubgroups(partnerGroup)" href="javascript:;" (click)="toggle(partnerGroup)">{{partnerGroup.network_name}}
                                    <span [class.hide]="partnerGroup.collapsed" class="glyphicon glyphicon-collapse-up"></span>
                                    <span [class.hide]="!partnerGroup.collapsed" class="glyphicon glyphicon-collapse-down"></span>
                                </a> <!-- data-toggle="collapse" href="#collapse{{partnerGroup.network_id}}" -->
                                <div *ngIf="!checkForSubgroups(partnerGroup)">{{partnerGroup.network_name}}</div>
                            </label>
                        </div>
                    </div>
                    <div id="collapse{{partnerGroup.network_id}}" class="panel-collapse collapse" [ngClass]="getCollapseClasses(partnerGroup)"> <!--class="panel-collapse in"--> <!--[class.collapse]="nameFilter === ''" [class.in]="nameFilter != ''"-->
                        <div style="padding: 5px 5px 5px 20px;">
                            <!-- secondary level -->
                            <div *ngFor="let secondaryGroup of partnerGroup.secondary_network" [ngClass]="getPanelClasses(secondaryGroup)">
                                <div [ngClass]="getHeadingOrBodyClasses(secondaryGroup)">
                                    <div class="checkbox">
                                        <label class="secondary">
                                            <input type="checkbox" [(ngModel)]="secondaryGroup.selected" (change)="toggleGroup(secondaryGroup)"  name="secondaryGroup">
                                            <a *ngIf="checkForSubgroups(secondaryGroup)" href="javascript:;" (click)="toggle(secondaryGroup)">{{secondaryGroup.network_name}}
                                                <span [class.hide]="secondaryGroup.collapsed" class="glyphicon glyphicon-collapse-up"></span>
                                                <span [class.hide]="!secondaryGroup.collapsed" class="glyphicon glyphicon-collapse-down"></span>
                                            </a>
                                            <div *ngIf="!checkForSubgroups(secondaryGroup)">{{secondaryGroup.network_name}}</div>
                                        </label>
                                    </div>
                                </div>
                                <div id="collapse{{secondaryGroup.network_id}}" class="panel-collapse collapse" [ngClass]="getCollapseClasses(secondaryGroup)">
                                    <div style="padding: 5px 5px 5px 20px;">
                                        <!-- tertiary level -->
                                        <div *ngFor="let tertiaryGroup of secondaryGroup.tertiary_network" [ngClass]="getPanelClasses(tertiaryGroup)">
                                            <div [ngClass]="getHeadingOrBodyClasses(tertiaryGroup)">
                                                <div class="checkbox">
                                                    <label class="tertiary">
                                                        <input type="checkbox" [(ngModel)]="tertiaryGroup.selected" (change)="toggleGroup(tertiaryGroup)"   name="tertiaryGroup">
                                                        <a *ngIf="checkForSubgroups(tertiaryGroup)" href="javascript:;" (click)="toggle(tertiaryGroup)">{{tertiaryGroup.network_name}}
                                                            <span [class.hide]="tertiaryGroup.collapsed" class="glyphicon glyphicon-collapse-up"></span>
                                                            <span [class.hide]="!tertiaryGroup.collapsed" class="glyphicon glyphicon-collapse-down"></span>
                                                        </a>
                                                        <div *ngIf="!checkForSubgroups(tertiaryGroup)">{{tertiaryGroup.network_name}}</div>
                                                    </label>
                                                </div>
                                            </div>
                                            <div id="collapse{{tertiaryGroup.network_id}}" class="panel-collapse collapse" [ngClass]="getCollapseClasses(tertiaryGroup)">
                                                <div style="padding: 5px 5px 5px 20px;">
                                                    <!-- quaternary level -->
                                                    <div *ngFor="let quaternaryGroup of tertiaryGroup.quaternary_network" [ngClass]="getPanelClasses(quaternaryGroup)">
                                                        <div [ngClass]="getHeadingOrBodyClasses(quaternaryGroup)">
                                                            <div class="checkbox">
                                                                <label><input type="checkbox" [(ngModel)]="quaternaryGroup.selected" (change)="toggleGroup(quaternaryGroup)" name="quaternaryGroup">{{quaternaryGroup.network_name}}</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<button type="button" class="btn btn-default" (click)="submitPartnerGroups()">Set Groups</button>
<button type="button" class="btn btn-default" (click)="onSelect('IntegratedDatasets')">Next</button>
