.btn-group button {
    height: 100px;
}

.btn-group button:focus {outline:0;}


#search-type-button-grp{
	width:100%;
}

.search-type-btn{
	width:50%;
}

#viz-into-text {
	border: 2px black solid;
	padding: 7px;
	font-weight: bold;
	background: lightgray;
}