<h2>Ancillary Data</h2>
<p>For additional data on sites, individual plants, observers, site visit details (including animal search method, time spent observing, and snow cover), and protocols (including detailed information about the phenophase definitions and intensity measures of different datasets), check the boxes below. For all available ancillary datafields, see the Metadata window.</p>
<div class="panel panel-default">
    <div class="panel-heading" ><strong>Datasheets</strong></div>
    <table class="table table-striped table-hover table-responsive header-fixed">
        <tbody>
            <tr *ngFor="let datasheet of datasheets | available:_npnPortalService.getReportType()">
                <td><input type="checkbox" name="plant" value="{{datasheet.name}}" [(ngModel)]="datasheet.selected"></td>
                <td>{{datasheet.name}}</td>
            </tr>
        </tbody>
    </table>
    <div class="panel-body">
    </div>
</div>

<button type="button" class="btn btn-default submit-button" (click)="submit()">Set Additional Datasheets</button>
<button type="button" class="btn btn-default" (click)="submit(); summaryModal.open()">Finish</button>


<bs-modal #summaryModal>
    <bs-modal-header>
        <h1 class="modal-title">Start Search</h1>
    </bs-modal-header>
    <bs-modal-body>
        <p>Your search is ready for execution. You’ve selected filters listed below. If these are correct, click "download". If not, click "Go Back to Modify Filters" and use the left menu to modify them. When you are finished, click "Download" in the right sidebar.</p>
        <div class="panel-group" id="summaryAccordion">
            <div class="panel panel-default" [class.hide]="_npnPortalService.getDateFilter() == ''">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Date Range: <span class="badge">{{_npnPortalService.getDateFilter()}}</span>
                    </h4>
                </div>
            </div>
            <div class="panel panel-default" [class.hide]="!_npnPortalService.dataPrecision">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Data Precision: <span class="badge">{{_npnPortalService.dataPrecision}} days</span>
                    </h4>
                </div>
            </div>
            <div class="panel panel-default" [class.hide]="_npnPortalService.getSelectedStates().length == 0">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#summaryAccordion" href="#stateCollap">
                            States: <span class="badge">{{_npnPortalService.getSelectedStates().length}}</span></a>
                    </h4>
                </div>
                <div id="stateCollap" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div id="statesView" style="overflow-y: scroll; height:100px;">
                            <table class="table table-striped table-hover table-responsive header-fixed">
                                <tbody>
                                    <tr *ngFor="let state of _npnPortalService.getSelectedStates()">
                                        <td>{{state.state_code}} ({{state.state_name}})</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" [class.hide]="!_npnPortalService.getSelectedExtent().bottom_left_x1">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#summaryAccordion" href="#locationCollap">
                            Region: <span class="badge">1</span></a>
                    </h4>
                </div>
                <div id="locationCollap" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item"><strong>North East Corner:</strong> {{_npnPortalService.getSelectedExtent().upper_right_x2}}, {{_npnPortalService.getSelectedExtent().upper_right_y2}}</li>
                            <li class="list-group-item"><strong>South West Corner:</strong> {{_npnPortalService.getSelectedExtent().bottom_left_x1}}, {{_npnPortalService.getSelectedExtent().bottom_left_y1}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" [class.hide]="_npnPortalService.getSelectedSpecies().length == 0">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#summaryAccordion" href="#speciesCollap">
                            Species: <span class="badge">{{_npnPortalService.getSelectedSpecies().length}}</span></a>
                    </h4>
                </div>
                <div id="speciesCollap" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div id="speciesView" style="overflow-y: scroll; height:100px;">
                            <table class="table table-striped table-hover table-responsive header-fixed">
                                <tbody>
                                    <tr *ngFor="let sp of _npnPortalService.getSelectedSpecies()">
                                        <td>{{sp.common_name}}</td>
                                        <td>{{sp.genus + ' ' + sp.species}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" [class.hide]="_npnPortalService.getSelectedPhenophases().length == 0">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#summaryAccordion" href="#phenophaseCollap">
                            Phenophases: <span class="badge">{{_npnPortalService.getSelectedPhenophases().length}}</span></a>
                    </h4>
                </div>
                <div id="phenophaseCollap" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div id="phenophaseView" style="overflow-y: scroll; height:100px;">
                            <table class="table table-striped table-hover table-responsive header-fixed">
                                <tbody>
                                    <tr *ngFor="let phenophase of _npnPortalService.getSelectedPhenophases()">
                                        <td>{{phenophase.phenophase_category}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" [class.hide]="_npnPortalService.getSelectedPartnerGroups().length == 0">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#summaryAccordion" href="#partnerGroupCollap">
                            Partner Groups: <span class="badge">{{_npnPortalService.getSelectedPartnerGroups().length}}</span></a>
                    </h4>
                </div>
                <div id="partnerGroupCollap" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div id="partnerGroupView" style="overflow-y: scroll; height:100px;">
                            <table class="table table-striped table-hover table-responsive header-fixed">
                                <tbody>
                                    <tr *ngFor="let group of _npnPortalService.getSelectedPartnerGroups()">
                                        <td>{{group.network_name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" [class.hide]="_npnPortalService.getSelectedDatasets().length == 0">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#summaryAccordion" href="#integratedDatasetsCollap">
                            Datasets: <span class="badge">{{_npnPortalService.getSelectedDatasets().length}}</span></a>
                    </h4>
                </div>
                <div id="integratedDatasetsCollap" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div id="datasetView" style="overflow-y: scroll; height:100px;">
                            <table class="table table-striped table-hover table-responsive header-fixed">
                                <tbody>
                                    <tr *ngFor="let dataset of _npnPortalService.getSelectedDatasets()">
                                        <td>{{dataset.dataset_name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" [class.hide]="_outputFieldsService.getSelectedOptionalFields().length == 0">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#summaryAccordion" href="#outputFieldsCollap">
                            Output Fields: <span class="badge">{{_outputFieldsService.getSelectedOptionalFields().length}}</span></a>
                    </h4>
                </div>
                <div id="outputFieldsCollap" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div id="outputFieldView" style="overflow-y: scroll; height:100px;">
                            <table class="table table-striped table-hover table-responsive header-fixed">
                                <tbody>
                                    <tr *ngFor="let outputField of _outputFieldsService.getSelectedOptionalFields()">
                                        <td>{{outputField.field_name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" [class.hide]="_npnPortalService.getSelectedDatasheets().length == 0">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#summaryAccordion" href="#ancillaryDataCollap">
                            Ancillary Data: <span class="badge">{{_npnPortalService.getSelectedDatasheets().length}}</span></a>
                    </h4>
                </div>
                <div id="ancillaryDataCollap" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div id="ancillaryDataView" style="overflow-y: scroll; height:100px;">
                            <table class="table table-striped table-hover table-responsive header-fixed">
                                <tbody>
                                    <tr *ngFor="let datasheet of _npnPortalService.getSelectedDatasheets()">
                                        <td>{{datasheet.name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </bs-modal-body>
    <bs-modal-footer>
        <button type="button" class="btn btn-block btn-primary" (click)="summaryModal.close()">Go Back to Modify Filters</button>
        <br/>
        <div class="well">
            <div *ngIf="showHasNotAgreedWarning" class="error" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Check that you've read and acknowledge the <a href ='https://www.usanpn.org/terms#DataAttribution' target='_blank' >USA-NPN data citation policy.</a>
            </div>
            <label><input type="checkbox" name="agree" value="agree" [(ngModel)]="hasAgreed" (change)="showHasNotAgreedWarning=false"> I have read and acknowledged the USA-NPN <a href ='https://www.usanpn.org/terms#DataUse' target='_blank' >data use</a> and <a href ='https://www.usanpn.org/terms#DataAttribution' target='_blank' >attribution</a> policies.</label> <!--[ngStyle]="showHasNotAgreedWarning?{'background-color':'#a94442', 'border-radius':'5px'} : {'background-color': 'white', 'border-radius':'5px'}"-->
            <button type="button" class="btn btn-block btn-success" (click)="download()">Download</button>
        </div>

    </bs-modal-footer>
</bs-modal>

<bs-modal #citationModal>
    <bs-modal-header>
        <h4 class="modal-title">Download Error</h4>
    </bs-modal-header>
    <bs-modal-body>
        Please check that you have read and acknowledged the <a href ='https://www.usanpn.org/terms#DataAttribution' target='_blank' >USA-NPN data citation policy.</a>
    </bs-modal-body>
    <bs-modal-footer><button type="button" class="btn btn-default" (click)="citationModal.close()">Close</button></bs-modal-footer>
</bs-modal>

<bs-modal #noFiltersWarningModal>
    <bs-modal-header>
        <h4 class="modal-title">Download Warning</h4>
    </bs-modal-header>
    <bs-modal-body>
        You have not yet set any Filters. The resulting download may take some time. Would you like to continue?
    </bs-modal-body>
    <bs-modal-footer>
        <button type="button" class="btn btn-danger btn-long" (click)="noFiltersWarningModal.close()">No, let me add filters</button>
        <button type="button" class="btn btn-success btn-long" (click)="noFiltersWarningModal.close(); continueDownloadWithNoFilters()">Yes, continue <br/>with download</button>
    </bs-modal-footer>
</bs-modal>

<bs-modal #downloadModal>
    <bs-modal-header>
        <h1 class="modal-title" [class.hide]="_npnPortalService.downloadStatus != 'complete'">Processing Complete</h1>
        <h1 class="modal-title" [class.hide]="_npnPortalService.downloadStatus != 'error'">Download Error</h1>
        <h1 class="modal-title" [class.hide]="_npnPortalService.downloadStatus != 'downloading'"><i class="fa fa-refresh fa-spin" style="font-size:30px"></i>  Downloading</h1>
    </bs-modal-header>
    <bs-modal-body>
        <div class="container">
            <div class="jumbotron">
                <p [class.hide]="_npnPortalService.downloadStatus != 'error'">There was an error downloading your data. Please try again later.</p>
                <p [class.hide]="_npnPortalService.downloadStatus != 'downloading'">Please do not close your browser. This may take up to 20 minutes to process. While you're waiting:</p>
                <p [class.hide]="_npnPortalService.downloadStatus != 'complete'">Your data has finished processing and should have begun downloading. Feel free to:</p>
                <div [class.hide]="_npnPortalService.downloadStatus == 'error'">
                    <ul class="list-group">
                        <li class="list-group-item"><p><a target="_blank" href="https://visitor.r20.constantcontact.com/manage/optin?v=001QKOUjm76P7ZkuVnwXnf8NbWg8itt4_5iA_iRRaxoyFqZhd8V4CPwEEumfTh-UUQJ45grryVp2AxE-0KSQE6fe-aCGoz5VNzG_3-URPgvxy0%3D">Sign up</a> for our researcher's newsletter.</p></li>
                        <li class="list-group-item"><p><a target="_blank" href="https://www.usanpn.org/node/20395">Tell us</a> how you are using the data.</p></li>
                        <li class="list-group-item"><p><a target="_blank" href="https://www.usanpn.org/contact">Provide feedback</a> about the tool.</p></li>
                    </ul>
                    <p>Clicking these links will not disrupt your download progress.</p>
                </div>
            </div>
        </div>
    </bs-modal-body>
    <bs-modal-footer><button type="button" class="btn btn-default" (click)="downloadModal.close()">Close</button></bs-modal-footer>
</bs-modal>