<h2>Partner Groups</h2>
<p>Limit your dataset to data collected by a particular Partner Group, either at the parent group or subgroup level.</p>

<div id="partner-group-filters" class="panel panel-default" style="height: 180px;">
    <div class="panel-heading"><strong>Filters</strong></div>
    <div class="panel-body">
        <div class="input-group">
            <span class="input-group-addon">Search:</span>
            <input #filterText type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" (keyup)="filterChange()" name="nameFilter" [(ngModel)]="nameFilter"> <!-- (keyup)="setAllCollapsed(filterText.value)" -->
        </div>
        <div class="input-group">
            <span class="input-group-addon">Regional Phenology Effort:</span>
            <select name="partnerGroupTagsParent" class="form-control selectpicker bs-select" multiple="multiple" data-width="auto" aria-describedby="basic-addon1" (change)="filterChange()" [(ngModel)]="partnerGroupTagsParent"> <!--(change)="filterChange()"-->
                <!-- <option value="All" selected="selected">All</option> -->
                <ng-container *ngFor="let lppTag of partnerGroupTags">
                    <option *ngIf="lppTag.is_group" [value]="lppTag">{{lppTag.Name}}</option>
                </ng-container>
            </select>
        </div>

        <div class="input-group">
            <span class="input-group-addon">Category:</span>

            <select id="lppTags" name="selectedTags" class="form-control selectpicker bs-select" multiple="multiple" data-width="auto" data-actions-box="true" data-width="auto" data-live-search="true" aria-label="Category" (change)="filterChange()" [(ngModel)]="selectedTags">
                <ng-container *ngFor="let lppTag of partnerGroupTags">
                    <option *ngIf="!lppTag.is_group" [value]="lppTag">{{lppTag.Name}}</option>
                </ng-container>
            </select>
  
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body panel-body-tight">
        <table class="table table-striped table-hover table-responsive header-fixed">
            <thead>
            <tr>
                <th>
                    <input type="checkbox" name="selectAll" value="" [(ngModel)]="selectAll" (click)="toggleSelectAll()"> Selected 
                </th>
                <th>
                    Name
                </th>
                <th>
                    Tags
                </th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let partnerGroup of partnerGroups | networkSearch:nameFilter:selectedTags:partnerGroupTagsParent">
                <td><input type="checkbox" name="partnerGroup" value="{{partnerGroup.selected}}" [(ngModel)]="partnerGroup.selected" (click)="toggleGroup(partnerGroup)"></td>
                <td>{{partnerGroup.Name}}</td>
                <td>
                    <div *ngFor="let tag of partnerGroup.tags">
                        <span *ngIf="tag.is_group" class="label label-success">{{tag.Name}}</span>
                        <span *ngIf="!tag.is_group" class="label label-info">{{tag.Name}}</span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<button type="button" class="btn btn-default" (click)="submit()">Set Groups</button>
<button type="button" class="btn btn-default" (click)="onSelect('integrated-datasets')">Next</button>
